<a href="https://colab.research.google.com/github/ikeyur15/Practice_/blob/main/Basics_of_EDA_003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploratory Data Analysis** - exercise submission notebook

## Submission 2 **Basics of EDA**

# **Instructions** 
This is a submission notebook, your term evaluation is based on the submission of the notebook.

* Don't Copy others code
* Try to implement all the topic that we have covered in the lectures 
* You can refer to the documentation if using any library
* **Use proper commenting to explain your code**

Happy Coding!

# **Exercise 1** 🖐

## **Job Location**

**Problem Statement :**

Find number of job openings in Bangalore,IN and in Seattle,US?

Print the Number of Job opening in Bangalore and Seattle as Integer value.

```
Output:

CountBangalore CountSeattle
```

In [ ]:
import csv 
import requests
import pandas as pd

In [ ]:
!wget "https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/Amazon_jobs_dataset%20-%20amazon_jobs_dataset.csv"

--2022-09-01 02:46:18--  https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/Amazon_jobs_dataset%20-%20amazon_jobs_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10493282 (10M) [text/plain]
Saving to: ‘Amazon_jobs_dataset - amazon_jobs_dataset.csv’

Amazon_jobs_dataset 100%[===================>]  10.01M  --.-KB/s    in 0.1s

2022-09-01 02:46:18 (104 MB/s) - ‘Amazon_jobs_dataset - amazon_jobs_dataset.csv’ saved [10493282/10493282]

In [ ]:
filename ='/content/Amazon_jobs_dataset - amazon_jobs_dataset.csv'

In [ ]:
with open(filename,encoding="utf8") as f:
    data=csv.DictReader(f, skipinitialspace = True)
    data = list(data)

In [ ]:
# ANSWER HERE
banglore_count = 0
seattle_count=0
for i in data:
    if i['location']=="":
        i['location']=='none'
    else:
        city = i['location'].split()[-1]
        if city =='Bangalore':
            banglore_count=banglore_count+1
        if city == 'Seattle':
            seattle_count=seattle_count+1

print('banglore_count : ',banglore_count)
print('seattle_count : ',seattle_count)

banglore_count :  66
seattle_count :  1856

## **Job Computer Vision**


**Problem Statement :**

What are the total number of job openings related to Computer Vision ?

Note:For finding the job related to computer vision check the Job Title column.

```
Output Format

Count

```

In [ ]:
# ANSWER HERE
cv= 0
text = 'Computer Vision'
for i in data:
    if i['Title']=='':
        i['Title']=='none'
    if i['Title'].count(text):
        cv= cv+1

print("Total jobs related to Computer Vision is",cv)

Total jobs related to Computer Vision is 14

## **Job Canada**

It is a dataset including information on amazon job opening around the world from June 2011 to March 2018. This dataset is collected using Selenium and BeautifulSoup by scraping all of the jobs for Amazon job site.
Problem Statement :

Find the number of job openings in Canada?

Print the count as the Integer Value

```
Output:

Count
```

In [ ]:
# ANSWER HERE
canada_job_count=0
for i in data:
    if i['location'] =="":
        i['location']=='none'
    k=i['location'].split(',')[0]
    if k=='CA':
        canada_job_count=canada_job_count+1

print(canada_job_count)

156

## **Job Month 2018**

Problem Statement :

Find the month having most job openings in Year 2018 ?
Print the month (Month Name i.e January, February, March) and Number of job opening as Integer Value

```
Output Format :

MonthName Count

```

In [ ]:
# ANSWER HERE
x,y,z = 0,0,0
for i in data:
    k= i['Posting_date'].split()[-3]
    p= i['Posting_date'].split()[-1]
    if p=='2018':
        if k=='January':
            x=x+1
        if k=='February':
            y=y+1
        if k=='March':
            z=z+1
            
print('January : ',x,'\nFebruary : ',y,'\nMarch : ',z)

January :  907
February :  790
March :  13

## **Job Degree**

Problem Statement :
Find the number of job openings are present if applicant have Bachelor degree?
Print the count as Integer value

**Note : Here we will use the BASIC QUALIFICATIONS feature to find out whether bachelor degree for Job is required or not. Keywords that can be used are 'Bachelor', 'BS' and 'BA'.**

```
Output:

Count
```

In [ ]:
# ANSWER HERE
d={}
kword=['Bachelor', 'BS', 'BA']
max=0
l=set()

for j in range(len(data)):
  da=data[j]['BASIC QUALIFICATIONS']
  for k in kword:
    if k in da:
      l.add(j)
      
print(len(l))

2961

## **Job Java**
**Problem Statement :**

Find the country does Amazon need the most number of Java Developer?
Print the Country(Country Shortcut as given in Dataset) and number of job opening as integer value

```
Country NumberofJobs

For example : US 40
```

In [ ]:
#find unique value of country
list1=[]
for j in range(len(data)): #range(3493)
  city = data[j]['location'].split(',')[0]
  if city not in list1:
    list1.append(city)
print(list1)
kword=['Java','java']

for i in list1:
  count=0
  for j in range(len(data)):
    city = data[j]['location'].split(',')[0] #split value of location and give 0 index value
    if city==i:
     for k in kword:
        da=data[j]['DESCRIPTION']
        if k in da:
            count+=1
  print(i,count)

['US', 'IN', 'RO', 'CA', 'DE', 'PL', 'AE', 'ES', 'IT', 'IL', 'UK', 'ZA', 'SG', 'AU', 'IE', 'FR', 'BR', 'CN', 'MX', 'NL', 'JO', 'TW', 'LU', 'JP', '']
US 406
IN 17
RO 1
CA 27
DE 1
PL 0
AE 0
ES 0
IT 0
IL 0
UK 1
ZA 5
SG 0
AU 1
IE 8
FR 0
BR 0
CN 0
MX 0
NL 1
JO 0
TW 0
LU 0
JP 1
 0

# **Exercise 2** 🖐

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
filePath = "/content/drive/MyDrive/terrorismData.csv"

## **Problem Statement : 1**

Find the number of attack held between day 10 and day 20?(ignoring the year and month)(including both day)

Print count of NumberOFAttack as integer value. 

> Output Format :
```
Count
```

In [ ]:
## Your Code
import csv
import numpy as np

with open(filePath,encoding='utf-8') as f:
    data = csv.DictReader(f)
    days = []
    for i in data:
        days.append(int(i['Day']))


np_days = np.array(days)

n = (np_days >= 10) & (np_days<=20)
print(sum(n))

## **Problem Statement : 2**

Find the number of attack held between 1 Jan 2010 and 31 Jan 2010?(including both date).

Note Ignore the case where day is 0

Print count of NumberOFAttack as integer value.

> Output Format :
```
Count
```

In [ ]:
## Your Code
## First way 
# df.head(5)
with open(filepath,encoding='utf-8')as f:
    data = csv.DictReader(f)
    Month=[]
    for i in data:
        if i['Year']=='2010':
            if i['Month']=='1':
                if i['Day']>'0':
                    Month.append(i)
print(len(Month))

## **Problem Statement : 3**

Find the casualty in the Red Corridor States ? Mainly Red corridor states include Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh.

Note: Casualty=Killed +Wounded

Print count of Casualty as integer value.

> Output Format :
```
Count
```

In [ ]:
## Your Code
listt= ['Jharkhand','Odisha','Andhra Pradesh','Chhattisgarh']
k=[]
with open(filepath,encoding='utf-8')as f:
    data = csv.DictReader(f)
    for i in data:
        if i['State'] in listt:
            if i['Killed']=="":
                i['Killed']=0
            if float(i['Killed'])>0.0:
                k.append(i['Killed'])
            if i['Wounded']=="":
                i['Wounded']=0
            if float(i['Wounded'])>0.0:
                k.append(i['Wounded'])
a=([int(float(x)) for x in k])
print(sum(a))
# ANS - 5628

## **Problem Statement : 4**

Find the most frequent day of attack in a terrorismDataset ?
Note: Here np.unique can be used.

Print count of frequent day and number of attack as Integer value.

> Output Format :
```
Day NumberOFAttack
```

In [ ]:
import pandas as pd
df=pd.read_csv(filePath)
df.head()

unique,count=np.unique(df.Day,return_counts=True)

print(np.asarray((unique,count)).T)

dict(list(enumerate(count)))
## Your Code
g={}
counts=count.tolist()
for i in range(32):
   g[i]=counts[i]
#print(g)
max(zip(counts,unique))