<a href="https://colab.research.google.com/github/ikeyur15/Practice_/blob/main/EDA_Python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploratory Data Analysis** - exercise submission notebook

## Submission 1 **PYTHON**

# **Instructions** 
This is a submission notebook, your term evaluation is based on the submission of the notebook.

* Don't Copy others code
* Try to implement all the topic that we have covered in the lectures 
* Each Problem has 2 points, their are negetive marking for plagiarism
* You can refer to the documentation if using any library
* **Use proper commenting to explain your code**

Happy Coding!

# Exercise 1 ðŸ™†

In [ ]:
# Make a dictionary with atleast 5 countries and their capitals.
dict={"india":"delhi", "pakistan":"islamabad", "bangladesh":"dhaka", "uk":"london", "canada":"ottawa"}
dict

{'bangladesh': 'dhaka',
 'canada': 'ottawa',
 'india': 'delhi',
 'pakistan': 'islamabad',
 'uk': 'london'}

In [ ]:
# Make a program to check whether a number is divisible by 7 or not.
a= int(input("enter num : "))
if a%7==0:
  print("devisible ")
else:
  print("not devisible")

enter num : 14
devisible

In [ ]:
# Make a program to convert Celsius and Fahrenheit. # use input function to take user input.
c= float(input("Enter Celcius: "))
f= c*9/5 +32
print(f)

Enter Celcius: 34
93.2

In [ ]:
# Make a program that checks the string contains this list of words 
# Delhi, Ahmedabad, Mumbai, India, Students, Python
list= ['Delhi', 'Ahmedabad', 'Mumbai', 'India', 'Students', 'Python']
check = input("Enter String to check: ")

if check in list:
  print("YES ! ")
else:
  print('NO')

Enter String to check: Delhi
YES !

In [ ]:
# Explore time library in python and get current time
import time

time.localtime()

time.struct_time(tm_year=2022, tm_mon=8, tm_mday=1, tm_hour=11, tm_min=38, tm_sec=11, tm_wday=0, tm_yday=213, tm_isdst=0)

# Exercise 2 ðŸ™†

In [ ]:
# Make a script which prints prime numbers between 1 to 1000

prime = [2]

for i in range(2,1001):
  for j in prime:
    flg=0
    if i%j == 0:
      flg=1
      break
  if flg==0:
    prime.append(i)

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
# Make a script which check palindrome number using loop

num=int(input("Enter a number:"))
temp=num
rev=0

while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:234432
The number is palindrome!

In [ ]:
# make a script which prints first 15 Fibonacci Numbers
f0 ,f1 = 0,1
c= 0
num= 15

while num<f0:
  print(f0)
else:
  while c<num:
    print(f0)
    n=f0+f1
    f0=f1
    f1=n
    c+=1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [ ]:
# Print the following pattern for the given N number of rows.
# Pattern for N = 3
"""
*
**
***
"""
for i in range(4):
  for j in range(i):
    print("*",end='')
  print("")

*
**
***

In [ ]:
# Print the following pattern for the given N number of rows.
# Pattern for N = 3
"""
A
BB
CCC
"""
import string 
string1= string.ascii_letters

for i in range(3):
  for j in range(i+1):
    print(string1[i],end="")
  print()

a
bb
ccc

In [ ]:
# Print the following pattern for the given N number of rows.
# Pattern for N = 4
"""
4444
3333
2222
1111
"""
for i in range(4,0,-1):
  for j in range(4,0,-1):
    print(i,end="")
  print()

4444
3333
2222
1111

In [ ]:
# Make a script to which gives output like

![0000000000003725.png]()

In [ ]:
# Print the following pattern for the given number of rows.
# Note: N is always odd.
# Pattern for N = 5
for i in range(3):
    for j in range(3,i,-1):
        print(" ",end="")
    for k in range(i):
        print("*",end="")
    for j in range(i-1):
        print('*',end="")
    print()
for i in range(3):
    for k in range(i):
        print(f" ",end="")
    for j in range(2,i,-1):
        print('*',end="")
    for j in range(3,i,-1):
        print("*",end="")
    print()

  *
 ***
*****
 ***
  *

![0000000000003726.png]()

# Exercise 3 ðŸ™†

In [ ]:
# Make a program to make a Calculator using function Operations [ + , - , * , / , % , log ]
import math
class Calculator:
  def sum(a,b):
    c=a+b
    print(c)
  def minus(a,b):
    c=a-b
    print(c)
  def multi(a,b):
    c=a*b
    print(c)
  def devide(a,b):
    c=a/b
    print(c)
  def modelo(a,b):
    c=a%b
    print(c)
  def log(a):
    c=math.log(a)
    print(c)

c=Calculator 
while True:
  anyFunc=int(input("Enter any Expression to calculate the values" 
                  "[1- '+' ,2- '-' , 3-'*' ,4-' /' , 5-'%' , 6-'log',7-'exit'] "))
  if anyFunc==1:
    a=int(input("A : "))
    b=int(input("B : "))
    c.sum(a,b)
  if anyFunc==2:
    a=int(input("A : "))
    b=int(input("B : "))
    c.minus(a,b)
  if anyFunc==3:
    a=int(input("A : "))
    b=int(input("B : "))
    c.multi(a,b)
  if anyFunc==4:
    a=int(input("A : "))
    b=int(input("B : "))
    c.devide(a,b)
  if anyFunc==5:
    a=int(input("A : "))
    b=int(input("B : "))
    c.modulo(a,b)
  if anyFunc==67:
    a=int(input("A : "))
    c.modulo(a)
  if anyFunc==7:
    break

In [ ]:
# Make a program to make a relu activation function using lambda function
x= lambda a: a if a>0 else 0
print(x(10))
print(x(0))
print(x(-10))
print(x(-1))

10
0
0
0

In [ ]:
# Create a class which store student infomation like [ Name, Class, Degree, ( Marks of multiple subjects) ] 
# A global variable to store minimum passing marks 
# A function to calculate Percentage 
min_mark=35
class Student:
    def __init__(self,name,classs,degree,marks1,marks2):
        self.name= name
        self.classs=classs
        self.degree= degree
        self.marks1=marks1
        self.marks2=marks2
    
    def cal_perce(self):
        p=(self.marks1+self.marks2)/2
        if p>min_mark:
            print('Pass and got ',p,' marks')
        else:
            print('Fail cz get',p,' marks')
s= Student('kp',4,'msc',23,43)
s.cal_perce()

Fail cz get 33.0  marks

In [ ]:
# Create a class which stores list of numbers 
# Mutliple functions to calculate Mean, Median, Mode and Standard Diviation of given list 
import statistics


def mean(listt):
    print(sum(listt)/len(listt))

def mediann(listt):
    return statistics.median(listt) 

def modee(listt):
    return statistics.mode(listt)

def stddev(listt):
    return statistics.stdev(listt)

stddev(listt)
mean(listt)
modee(listt)
mediann(listt)

In [ ]:
# Create a class which store all the infomation of city like [ Name, State, Country, Currency, TimeZone ] and Internal Function to print it

class City:
  
  def __init__(self,name,state,country,currency,timezone):
    self.name=name
    self.state=state
    self.country=country
    self.currency=currency
    self.timezone=timezone
        
  def showdata(self):
        print(self.name,
        self.state,
        self.country,
        self.currency,
        self.timezone)
        
c=City('keyur','gujarat','india','rupees','ist')
c.showdata()

keyur gujarat india rupees ist