<a href="https://colab.research.google.com/github/ikeyur15/Practice_/blob/main/EDA_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget "https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/Amazon_jobs_dataset%20-%20amazon_jobs_dataset.csv"

--2022-08-12 03:45:38--  https://raw.githubusercontent.com/Ambatkar/Test_mnist/main/data/Amazon_jobs_dataset%20-%20amazon_jobs_dataset.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10493282 (10M) [text/plain]
Saving to: ‚ÄòAmazon_jobs_dataset - amazon_jobs_dataset.csv‚Äô

Amazon_jobs_dataset 100%[===================>]  10.01M  --.-KB/s    in 0.08s

2022-08-12 03:45:39 (133 MB/s) - ‚ÄòAmazon_jobs_dataset - amazon_jobs_dataset.csv‚Äô saved [10493282/10493282]

In [ ]:
fileName = "Amazon_jobs_dataset - amazon_jobs_dataset.csv"

In [ ]:
import csv

In [ ]:
with open(fileName,'r') as f:
  data= csv.DictReader(f,skipinitialspace= True)
  data = list(data)

data[0].keys()

odict_keys(['S.No.', 'Title', 'location', 'Posting_date', 'DESCRIPTION', 'BASIC QUALIFICATIONS', 'PREFERRED QUALIFICATIONS'])

# HANDS ON DATA üëê

## **Job Location**

**Problem Statement :**

Find number of job openings in Bangalore,IN and in Seattle,US?

Print the Number of Job opening in Bangalore and Seattle as Integer value.

```
Output:

CountBangalore CountSeattle
```

In [ ]:
k=0
m=0
# ANSWER HERE
for i in data:
    x= i['location'].find('Bangalore')
    # print(x)
    if x==8:
      k=k+1
for j in data:
    l=j['location'].find('Seattle')
    # print(x)
    if l==8:
      m=m+1
      
print(k)
print(m)

66
1856

## **Job Computer Vision**


**Problem Statement :**

What are the total number of job openings related to Computer Vision ?

Note:For finding the job related to computer vision check the Job Title column.

```
Output Format

Count

```

In [ ]:
# ANSWER HERE
cv= 0
text = 'Computer Vision'
for i in data:
    if i['Title']=='':
        i['Title']=='none'
    if i['Title'].count(text):
        cv= cv+1
        print("Designation : ",i['Title'])

print("Total jobs related to Computer Vision is",cv)

Designation :  Software Development Engineer - Computer Vision
Designation :  Software Development Manager - Computer Vision
Designation :  Software Development Engineer - Computer Vision
Designation :  Senior Software Development Engineer - Computer Vision
Designation :  Senior Software Development Engineer - Computer Vision
Designation :  Software Development Manager - Computer Vision
Designation :  Computer Vision Applied Scientist
Designation :  Software Development Engineer - Computer Vision
Designation :  Software Development Engineer - Computer Vision
Designation :  Principal Computer Vision Scientist
Designation :  Software Development Engineer - Computer Vision Frameworks/Acceleration
Designation :  Computer Vision and Deep Learning Research Scientist
Designation :  Software Development Engineer - Computer Vision
Designation :  Software Development Engineer - Computer Vision
Total jobs related to Computer Vision is 14

## **Job Canada**

It is a dataset including information on amazon job opening around the world from June 2011 to March 2018. This dataset is collected using Selenium and BeautifulSoup by scraping all of the jobs for Amazon job site.
Problem Statement :

Find the number of job openings in Canada?

Print the count as the Integer Value

```
Output:

Count
```

In [ ]:
# ANSWER HERE
# ANSWER HERE
'''canada_job_count=0
for i in data:
    if i['location'] =="":
        i['location']=='none'
    k=i['location'].split()[0]
    if k=='CA,':
        canada_job_count=canada_job_count+1
#         print(i['location'])

print(canada_job_count)'''

canada_job_count=0
for i in data:
    if i['location'] =="":
        i['location']=='none'
    k=i['location'].split(',')[0]
    if k=='CA':
        canada_job_count=canada_job_count+1

print('Job openings in Canada : ',canada_job_count)

Job openings in Canada :  156

## **Job Month 2018**

Problem Statement :

Find the month having most job openings in Year 2018 ?
Print the month (Month Name i.e January, February, March) and Number of job opening as Integer Value

```
Output Format :

MonthName Count

```

In [ ]:
# ANSWER HERE
x,y,z = 0,0,0
for i in data:
    k= i['Posting_date'].split()[-3]
    p= i['Posting_date'].split()[-1]
    if p=='2018':
        if k=='January':
            x=x+1
        if k=='February':
            y=y+1
        if k=='March':
            z=z+1
            
print('January : ',x,'\nFebruary : ',y,'\nMarch : ',z)

January :  907
February :  790
March :  13

## **Job Degree**

Problem Statement :
Find the number of job openings are present if applicant have Bachelor degree?
Print the count as Integer value

**Note : Here we will use the BASIC QUALIFICATIONS feature to find out whether bachelor degree for Job is required or not. Keywords that can be used are 'Bachelor', 'BS' and 'BA'.**

```
Output:

Count
```

In [ ]:
# ANSWER HERE
d= {}
max = 0
l= set()
list = ['Bachelor','BS','BA']
# print(len(data))
for j in range(len(data)):
    dt = data[j]['BASIC QUALIFICATIONS']
    for k in list:
        if k in dt:
            l.add(j)
print(len(l))

2961

## **Job Java**
**Problem Statement :**

Find the country does Amazon need the most number of Java Developer?
Print the Country(Country Shortcut as given in Dataset) and number of job opening as integer value

```
Country NumberofJobs

For example : US 40
```

In [ ]:
# ANSWER HERE
list1=[]
for j in range(len(data)): #range(3493)
  city = data[j]['location'].split(',')[0]
  if city not in list1:
    list1.append(city)
print(list1)
kword=['Java','java']

for i in list1:
  count=0
  for j in range(len(data)):
    city = data[j]['location'].split(',')[0] #split value of location and give 0 index value
    if city==i:
     for k in kword:
        da=data[j]['DESCRIPTION']
        if k in da:
            count+=1
  print(i,count)